{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">O Nas</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Kiedyś byli tylko dwoma chłopakami z tej samej klasy, których los potraktował różnie. 
            </p>
          </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class = "row">
                <center>
                    <div class = "col-8">
                        <br></br>
                    <p align='justify'>
                        Jeden, Kami, wyjechał za granicę, aby podążać za swoimi marzeniami o wielkim świecie, zdobywając tam nowe doświadczenia i umiejętności. 
                        Drugi, Filip, niestety popadł w sidła narkotyków, borykając się z własnymi demonami przez wiele lat.
                    </p>
                    <br></br>
                    <p align='justify'>
                        Lata mijają, życie toczy się swoim torem, aż pewnego dnia ich drogi znowu się skrzyżowały. 
                        Kamil wrócił do kraju, odświeżony i pełen pomysłów, podczas gdy Filip, po wielu trudnych doświadczeniach, wykaraskał się z trudności, w jakich się znalazł.
                    </p>
                    <br></br>
                    <p align='justify'>
                        Spotkanie po latach nie było łatwe, ale obaj zrozumieli, że przeszłość nie musi definiować ich przyszłości. Postanowili połączyć swoje siły i doświadczenia, by stworzyć coś pozytywnego i wartościowego. Tak narodził się pomysł na ich wspólny biznes.
                    </p>
                    <br></br>
                    <p align='justify'>
                        Po wielu rozmowach, planach i trudach, otworzyli razem ten sklep
                    </p>
                    <br></br>
                    </div>
                </center>
            </div>
        </div>
    </section>
      
{% endblock %}