{% extends 'base.html' %}

{% block content %}
    <!-- Product section-->
    {{product.id}}
    <section class="py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h1 class="display-5 fw-bolder">{{product.name}}</h1>
            <p class="lead">{{product.description}}</p>
            <div class="row">
              <div class="col-auto">
                {% if product.is_sale %}
                  <span class="text-decoration-line-through">{{product.price}} zł</span>
                  <span class="text-danger">{{product.sale_price}} zł</span>
                {% else %}
                  <span>{{product.price}} zł</span>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-auto">
                <select class="form-select" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">More (specify quantity in cart)</option>
                </select>
              </div>
              <div class="col-auto">
                <button class="btn btn-primary" value="{{ product.id }}" id="add-cart">
                  <i class="bi-cart-fill me-1"></i>
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      {% for related_product in related_products %}
        {% if related_product.is_sale %} 
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div class="badge bg-light text-dark position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="{{ related_product.image.url }}"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">{{ related_product.name }}</h5>
                  <!-- SALE-->
                  <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill">
                    </div> &nbsp; &nbsp; Sale! &nbsp;&nbsp; 
                    <div class="bi-star-fill"></div> 
                  </div>
                  <!-- Product price-->
                  <strike>
                    {{ related_product.price }}
                  </strike>
                  &nbsp;{{ related_product.sale_price }} zł
                  <br />
                  in {{ related_product.category }}:
                  <br />
                  {{ related_product.description }}
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a
                    class="btn btn-outline-dark mt-auto"
                    href="{% url 'product' related_product.id %}"
                    >View Product</a
                  >
                </div>
              </div>
            </div>
          </div>
        {% else %}
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img
              class="card-img-top"
              src="{{ related_product.image.url }}"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ related_product.name }}</h5>
                <!-- Product price-->
                {{ related_product.price }} zł
                <br />
                in {{ related_product.category }}:
                <br />
                {{ related_product.description }}
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a
                class="btn btn-outline-dark mt-auto"
                href="{% url 'product' related_product.id %}"
                >View Product</a
                >
              </div>
            </div>
          </div>
        </div>
          {% endif %} 
      {% endfor %}
    </div>
  </div>
</section>


<script>
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cart_add_page' %}",
      data: {
        product_id: $('#add-cart').val(),
        product_qty: $('#qty-cart option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function(json){
        //console.log(json)
        document.getElementById("cart-count").innerHTML = json.cart_count
      },
      error: function(xhr, errmsg, err){
        console.log(xhr, errmsg, err)
      }
    });
  })
</script>

{% endblock%}