{% extends 'base.html' %}

{% block content %}
      


    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sign Up</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Sign Up To Our Store
            </p>
          </div>
        </div>
    </header>


    <section>
        <div class="container">
            <div class = "row">
                    <div class = "col-md-6 offset-md-3">
                        <form method="POST" action='{% url 'signup' %}'>
                            {% csrf_token %}
                            <br></br>
                            {{ form.as_p }}
                            <br></br>
                            <button type="submit" class="btn btn-secondary">Sign Up</button>
                            <br></br>
                            <br></br>
                            <br></br>
                            <br></br>
                        </form>                          
                    </div>
            </div>
        </div>
    </section>


{% endblock %}