{% extends 'base.html' %}

{% block content %}
      


    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sign In</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Sign In To Our Store
            </p>
          </div>
        </div>
    </header>


    <section>
        <div class="container">
            <div class = "row">
                <center>
                    <div class = "col-md-6">
                        <form method="POST" action='{% url 'signin'%}'>
                            {% csrf_token %}
                            <br></br>
                            <div class="mb-3">
                              <label for="loginField" class="form-label">Email address or Username</label>
                              <input type="text" class="form-control" name="login_field">
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" name="password">
                            </div>
                            <button type="submit" class="btn btn-secondary">Log In</button>
                          </form>                          
                    </div>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                </center>
            </div>
        </div>
    </section>


{% endblock %}